rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Admin de iMettrics puede hacer todo en cualquier lugar
    match /{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.token.role == 'admin';
    }

    // El Cliente (viewer) puede leer archivos de su respectiva carpeta
    // La carpeta debe llamarse exactamente igual que su clientId
    match /clientes/{clientId}/{allFiles=**} {
      allow read: if request.auth != null && request.auth.token.clientId == clientId;
    }
  }
}
